[tool.poetry]
name = "nonebot2"
version = "2.0.0-alpha.11"
description = "An asynchronous python bot framework."
authors = ["yanyongyu <yyy@nonebot.dev>"]
license = "MIT"
readme = "README.md"
homepage = "https://v2.nonebot.dev/"
repository = "https://github.com/nonebot/nonebot2"
documentation = "https://v2.nonebot.dev/"
keywords = ["bot", "qq", "qqbot", "mirai", "coolq"]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Framework :: Robot Framework",
  "Framework :: Robot Framework :: Library",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3"
]
packages = [
  { include = "nonebot" },
]
include = ["nonebot/py.typed"]

[tool.poetry.dependencies]
python = "^3.7.3"
loguru = "^0.5.1"
pygtrie = "^2.4.1"
tomlkit = "^0.7.0"
fastapi = "^0.63.0"
Quart = { version = "^0.14.1", optional = true }
pydantic = { extras = ["dotenv"], version = "~1.8.0" }
uvicorn = { version = "^0.13.0", extras = ["standard"] }

[tool.poetry.dev-dependencies]
yapf = "^0.30.0"
sphinx = "^3.4.1"
nonebot-adapter-cqhttp = { path = "./packages/nonebot-adapter-cqhttp", develop = true }
nonebot-adapter-ding = { path = "./packages/nonebot-adapter-ding", develop = true }
nonebot-adapter-mirai = { path = "./packages/nonebot-adapter-mirai", develop = true }
sphinx-markdown-builder = { git = "https://github.com/nonebot/sphinx-markdown-builder.git" }

[tool.poetry.extras]
quart = ["quart"]
all = ["quart"]

[[tool.poetry.source]]
name = "aliyun"
url = "https://mirrors.aliyun.com/pypi/simple/"
default = true

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
