.container {
  @apply w-full max-w-full inline-flex justify-center items-center m-0 pl-0 list-none select-none;
}

.li {
  @apply flex items-center;
}

.button {
  height: 34px;
  width: auto;
  min-width: 34px;
  @apply m-1 px-1 border-2 rounded shadow-lg text-center;
  @apply border-light-nonepress-200 shadow-light-nonepress-300;
  @apply text-black bg-light-nonepress-100;
}

:global(.dark) .button {
  @apply border-dark-nonepress-200 shadow-dark-nonepress-300;
  @apply text-white bg-dark-nonepress-100;
}

.button.active {
  @apply bg-hero text-white border-hero;
}

.disabled {
  @apply opacity-60 pointer-events-none;
}
