.toc {
  max-height: calc(100vh - 7rem);

  @apply sticky top-28 overflow-y-auto;
}

.toc-link {
  @apply text-light-text;
}

:global .dark :local .toc-link {
  @apply text-dark-text;
}

.toc-link-active {
  @apply text-light-text-active;
}

:global .dark :local .toc-link-active {
  @apply text-dark-text-active;
}

.tocAdsContainer {
  @apply sticky bottom-0 w-full max-w-full mt-2;
}

.tocAds {
  @apply max-w-full !bg-light dark:!bg-dark;
}

.tocAds :global .wwads-text {
  @apply text-light-text;
}

:global .dark :local .tocAds :global .wwads-text {
  @apply text-dark-text;
}
