name: Code Coverage

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - "nonebot/**"
      - "packages/**"
      - "tests/**"

jobs:
  test:
    name: Test Coverage
    runs-on: ${{ matrix.os }}
    concurrency:
      group: test-coverage-${{ github.ref }}-${{ matrix.os }}-${{ matrix.python-version }}
      cancel-in-progress: true
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false
    env:
      OS: ${{ matrix.os }}
      PYTHON_VERSION: ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python environment
        uses: ./.github/actions/setup-python
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run Pytest
        run: |
          cd tests/
          poetry run coverage erase
          poetry run pytest -n auto --cov-report xml
        env:
          COV_CORE_SOURCE: nonebot
          COV_CORE_CONFIG: .coveragerc
          COV_CORE_DATAFILE: .coverage

      - name: Upload coverage report
        uses: codecov/codecov-action@v3
        with:
          env_vars: OS,PYTHON_VERSION
          files: ./tests/coverage.xml
          flags: unittests
