name: Release Nonebot Plugin Docs

on:
  release:
    types: [ published ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '12'
      - run: npm ci
      - name: Build Docs
        env:
          VUEPRESS_BASE: '/docs/'
        run: npx vuepress build docs --dest packages/nonebot-plugin-docs/nonebot_plugin_docs/dist

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
          architecture: "x64"

      - uses: Gr1N/setup-poetry@v4

      - name: Publish Package
        run: |
          export NONEBOT_VERSION=`poetry version -s`
          cd packages/nonebot-plugin-docs/
          poetry version $NONEBOT_VERSION
          poetry build
          poetry publish -u ${{secrets.PYPI_USERNAME}} -p ${{secrets.PYPI_PASSWORD}}
